<p id="notice"><%= notice %></p>

<h1>Your results</h1>
<table class="table">
  <thead class="thead-dark">
  <tr>
    <th data-toggle="tooltip" data-placement="top" title="Recent 5 races">Id</th>
    <!--<th>End time</th>-->
    <th data-toggle="tooltip" data-placement="top" title="Number of keys stroked">Total key stroke</th>
    <th data-toggle="tooltip" data-placement="top" title="Accuracy">Accuracy</th>
    <th data-toggle="tooltip" data-placement="top" title="Words per minute">Wpm</th>
    <th>Total time taken in sec</th>
    <th data-toggle="tooltip" data-placement="top" title="Race starting time">Race started</th>
  </tr>
  </thead>
  <tbody>
  <% @participated_races.each do |participated_race| %>
    <tr>
      <!--<td><%= participated_race.end_time %></td>-->
      <td data-toggle="tooltip" data-placement="top" title="<%= participated_race.race.value %>"><%=participated_race.id%></td>
      <td><%= participated_race.total_key_stroke %></td>
      <td><%= participated_race.accuracy %></td>
      <td><%= participated_race.wpm %></td>
      <td><%= participated_race.time_taken %></td>
      <td><%= participated_race.start_time %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Race', new_participated_race_path %>
