<p id="notice"><%= notice %></p>

<h1>Your results</h1>

<table class="table">
  <thead class="thead-dark">
  <tr>
    <!--<th>Start time</th>-->
    <!--<th>End time</th>-->
    <th>Total key stroke</th>
    <th>Accuracy</th>
    <th>Wpm</th>
    <th>Total time taken in sec</th>
  </tr>
  </thead>

  <tbody>
  <% @race_participants.each do |race_participant| %>
    <tr>
      <!--<td><%= race_participant.start_time %></td>-->
      <!--<td><%= race_participant.end_time %></td>-->
      <td><%= race_participant.total_key_stroke %></td>
      <td><%= race_participant.accuracy %></td>
      <td><%= race_participant.wpm %></td>
      <td><%= race_participant.time_taken %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Race', new_race_participant_path %>
