<!DOCTYPE html>
<html>
<head>
  <title>Type Race </title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body class="<%= 'guest-session' unless current_user   %>">
<div class="container">
  <%= yield %>
</div>
</body>
</html>
